---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    <!-- 自动更新年份 + 你的名字 -->
    &copy; {today.getFullYear()} Xuzhe Huang
  </div>
  <div class="inline opacity-75">
    <!-- 保留模板来源是开源社区的礼仪，你也可以在这里加上 "Developed by Xuzhe" -->
    Developed by <a href="https://github.com/Xuzheee" target="_blank" class="font-bold">Xuzhe Huang</a> using
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
  </div>
</footer>
